<div class="container">

  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger text-center" 
         role="alert" 
         ng-show="vm.show"
         >
         <h4>{{vm.message}}</h4>
         <h5>Go to the <a href="/login">Login</a> page</h5>
    </div>

    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h3 class="panel-title text-center">Let's Get Ready to Register!</h3>
      </div>

      <div class="panel-body">
        <form role="form" ng-submit="vm.register()">
          
          <div class="form-group">
            <input type="text" 
                   ng-model="vm.user.name" 
                   class="form-control" 
                   placeholder="Your name… ">
          </div>

          <div class="form-group">
            <input type="email" 
                   ng-model="vm.user.email" 
                   class="form-control" 
                   placeholder="Your email… "
                   required ="">
          </div>
          
          <div class="form-group">
            <input type="password" 
                   ng-model="vm.user.password" 
                   class="form-control" 
                   placeholder="Your password…"
                   required="">
          </div>
          
          <button type="submit" class="btn btn-lg btn-success btn-block">Sign Up Now</button>
        
        </form>
      </div>
    
      <div class="panel-footer">
        <a href="mailto:ineedhelp@test.org">Need help? »</a>
      </div>
    
    </div> <!-- End of Panel -->
  </div> <!-- End of column -->

</div>